*.pkl
*.idea/
*data/*
data/

.github/

font.sf2
doit/
.doit.db
*.png
*.ods

### Template ###
# Byte-compiled
__pycache__/


# Unit pipeline_tests / coverage reports
.pytest_cache/


# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
env/
venv/


# Pyre type checker
.pyre/
/evaluation/app/files/LetsDoIt.mp3
